.form-container{ 
width: 450px;
height: 500px;
}
.logo{
    width: 100px;
    height: 100px;
}
.form-container-background{
    background-color: #212529;
}

.btn-submit{
    background-color:#ff6700;
}
.logo{
  width: 50px;
  height: 50px;  
}
.btn-style-submit{
    background-color:#ff6700 ;
    border: none;
}
.form-control{
    border: solid 1px black;
}
.container-login{
    min-height:100vh;
}
