<div class="d-flex">
  <div
    class="form-container-background d-flex flex-column justify-content-center align-items-center"
  >
    <form
      class="d-flex flex-column justify-content-between align-items-center col-8  py-5 "
    >
      <img class="" src="../../assets/icons/nav-icon/logo.svg" alt="" />
      <h6 class="mt-4">باما کارتو شروع کن</h6>
      <p class="my-4">
        بستری آنلاین در جهت توسعه توانمندی های فردی و گروهی جوانان برای ورود به
        بازار کسب و کار و کارآفرینی
      </p>
      <div
        class="d-flex flex-column justify-content-between align-items-center w-75"
      >
        <input
          class="form-control bg-secondary px-1 py-1"
          placeholder="شماره موبایل خود را وارد کنید"
          type="tel"
        />
        <input
          class="form-control bg-secondary px-1 py-1 my-4"
          placeholder="رمز عبور"
          type="password"
        />
      </div>
      <div
        class="d-flex flex-column justify-content-between align-content-center w-75"
      >
        <button
          class="btn-style-submit btn btn-secondary btn-lg btn-block px-2 w-100"
          (click)="course()"
        >
          ورود
        </button>
        <button
          class="btn btn-lg btn-secondary btn-lg btn-block px-2 my-4" >
          کابر جدید هستید(ثبت نام)
        </button>
      </div>
    </form>
  </div>

  <div class="container-login row col-7 ">
    <img
      class="col col-lg-4 w-100 h-100 p-0"
      src="../assets/icons/bg-image/laptop-gff9caee28_640.jpg"
      alt=""
    />
  </div>
</div>
