.navigation-container{
    height: 75px;
    background-color:#272c33 ;
}
.aSizing{
border-radius: 100px;
background-color: aliceblue;
}
.iconsizing{
width: 30px;
height: 30px;
}
.section-style{
    display: inline-block;
 width:150px ;
   background-color: #313438;
   border-radius: 10px;
}
.title-courses-link{
    width: 300px;
}
.logostyle{
    width: 80 !important;
    height: 80 !important;
}



 
