<!--//navigation container -->
<div
  class="navigation-container container-fluid d-flex d-flex justify-content-between align-content-center"
>
  <!--//navigation logo -->
  <div class="d-flex justify-content-start align-items-center h-100 w-25">
    <div class="d-md-block d-sm-none h-100">
      <a href="" class="d-flex justify-content-center">
        <img
          class="fill-color w-100 h-100"
          src="../../assets/icons/nav-icon/logo.svg"
          alt="wtttttttttt"
        />
      </a>
    </div>
    <div class="d-md-none d-sm-block">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!--//navigation links -->
  <div class="d-flex justify-content-between align-items-center w-25">
    <div>
      <a class="nav-link rounded-circle aSizing" aria-current="page" href="#">
        <img
          class="iconsizing fill-color"
          src="../assets/icons/nav-icon/challenge-environment-flag-svgrepo-com.svg"
          alt=""
      /></a>
    </div>

    <div>
      <a class="nav-link rounded-circle aSizing" href="#">
        <img
          class="iconsizing fill-color"
          src="../assets/icons/nav-icon/coin-svgrepo-com.svg"
          alt="../"
        />
      </a>
    </div>

    <div>
      <a class="nav-link rounded-circle aSizing" href="#">
        <img
          class="iconsizing fill-color"
          src="../assets/icons/nav-icon/sms-svgrepo-com.svg"
          alt=""
      /></a>
    </div>

    <div>
      <a class="nav-link rounded-circle aSizing" href="#" tabindex="-1">
        <img
          class="iconsizing fill-color"
          src="../assets/icons/nav-icon/heart-svgrepo-com.svg"
          alt=""
      /></a>
    </div>

    <div>
      <a class="nav-link" href="#" tabindex="-1">
        <img
          class="iconsizing fill-color"
          src="../assets/icons/nav-icon/profile-circle-svgrepo-com.svg"
          alt="../"
      /></a>
    </div>
    <div>
      <a class="nav-link" href="#" tabindex="-1"> حساب کاربری </a>
    </div>
  </div>
</div>

<!-- <section
    class=" custom_class section-style d-flex d-flex flex-column justify-content-between align-items-center my-4 row "
  >
    <div
      class=" d-flex flex-column justify-content-center align-items-center mt-2 py-3"
    >
      <a href="">
        <img
          class="iconsizing fill-color"
          src="../assets/icons/nav-icon/section-icon/book-open-svgrepo-com.svg"
          alt=""
        />
      </a>
      <label>درسای من</label>
    </div>

    <div
      class="d-flex flex-column justify-content-center align-items-center py-3"
    >
      <a href="">
        <img
          class="iconsizing"
          src="../assets/icons/nav-icon/section-icon/layer-svgrepo-com.svg"
          alt=""
      /></a>
      <label>لیست دوره ها</label>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center py-3"
    >
      <a href="">
        <img
          class="iconsizing"
          src="../assets/icons/nav-icon/section-icon/task-square-svgrepo-com.svg"
          alt=""
      /></a>
      <label>داشبورد</label>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center py-3"
    >
      <a href="">
        <img
          class="iconsizing"
          src="../assets/icons/nav-icon/section-icon/play-circle-svgrepo-com.svg"
          alt=""
      /></a>
      <label>پخش زنده</label>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center py-3"
    >
      <a href="">
        <img
          class="iconsizing"
          src="../assets/icons/nav-icon/section-icon/document-text-svgrepo-com.svg"
          alt=""
      /></a>
      <label>پیام ها</label>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center py-3"
    >
      <a href="">
        <img
          class="iconsizing"
          src="../assets/icons/nav-icon/section-icon/empty-wallet-svgrepo-com.svg"
          alt=""
      /></a>
      <label>سوابق مالی</label>
    </div>
  </section> -->
